.App {
  text-align: center;
}

body {
  background-color: lightyellow;
  text-align: center;
}

.App-header {
  background-color: #07AA9E;
  height: 70px;
  padding: 20px;
  color: black;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
